.table-container {
    margin-top: 30px;
    width: 100%;
    padding: 0px 10px;
}

.table {
    display: block;
    table-layout: auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    color: #2c5f2d;
}

.table th {
    font-size: 20px;
}

.table th,
.table td {
    padding: 12px 20px;
    text-align: left;
}

.table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

table tbody tr:hover {
    background-color: #eee;
}

.expand {
    width: 50%;
}

.card-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #f12727;
    padding: 10px;
    border-radius: 10px;
}

.card-delete-button:hover {
    cursor: pointer;
    background-color: #f06464;
}
