.deckcard {
    background-color: #8cd790;
    border-radius: 16px;
    height: 250px;
    padding: 30px 30px;
    color: #2c5f2d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.deckcard:hover {
    transform: translateY(-5px);
    background-color: #a7eca5;
}

.deckcard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deckcard-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    gap: 10px;
}

.deck-delete-button {
    color: #2c5f2d;
    align-self: flex-start;
}

.deck-delete-button:hover {
    color: #f06464;
}

.deck-link {
    text-decoration: none;
}

.deckcard-description {
    height: 50px;
    overflow: hidden;
}

.deckcard-timestamp {
    font-size: 14px;
    justify-self: flex-end;
}
