.deckcard {
    background-color: #8cd790;
    border-radius: 16px;
    padding: 0.5rem 2rem;
    color: #2c5f2d;
}

.deckcard:hover {
    transform: translateY(-5px);
    background-color: #a7eca5;
}

.deckcard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deck-delete-button {
    border: none;
    background-color: #2c5f2d;
    border-radius: 8px;
    padding: 10px 10px;
    color: white;
}

.deck-delete-button:hover {
    cursor: pointer;
    background-color: #4f9250;
}

.deck-link {
    text-decoration: none;
}
