.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2c5f2d;
}

.home-create-button {
    background-color: #2c5f2d;
    color: white;
    font-family: "Nunito";
    font-size: larger;
    padding: 15px;
    border: none;
    border-radius: 16px;
}

.home-create-button:hover {
    cursor: pointer;
    background-color: #4f9250;
}

.home-decks-container {
    display: flex;
    width: 50%;
    margin-top: 20px;
}

.home-decks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
}
