.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 500px;
    padding: 40px 60px;
    border-radius: 20px;
    background-color: white;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    font-size: large;
    color: #494949;
}

.signup-form label {
    margin-top: 15px;
}

.signup-form input {
    padding: 10px;
    border: 1px solid #7fce80;
    border-radius: 10px;
}

.signup-form button {
    margin-top: 20px;
    padding: 10px 0px;
    border: none;
    border-radius: 12px;
    background-color: #2c5f2d;
    color: white;
    font-size: large;
    font-family: "Nunito";
}

.signup-form button:hover {
    cursor: pointer;
    background-color: #4f9250;
}

.signup-passwords {
    display: flex;
    gap: 15px;
}

.signup-password {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    color: #494949;
}

.login-link button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
    border: none;
    border-radius: 12px;
    background-color: #2c5f2d;
    color: white;
    font-size: large;
    font-family: "Nunito";
}

.login-link button:hover {
    cursor: pointer;
    background-color: #4f9250;
}
