.study-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    color: #2c5f2d;
}

.study-card-stack {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.study-card {
    margin-top: 100px;
    width: 40%;
    min-width: 400px;
    max-width: 700px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.study-divider {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    margin: 20px 0px;
}

.study-card button:hover {
    cursor: pointer;
    background-color: #4f9250;
}

.study-review-buttons {
    padding: 0px 10px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.study-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #2c5f2d;
    color: white;
    font-size: large;
    font-family: "Nunito";
}

.show-answer-button {
    margin-top: 30px;
}
